
PORT=3000

DATABASE_URL=mongodb://localhost:27017/your_database_name

# Resource info
RESOURE_HOST_URL=
RESOURE_APP_CODE=st22d
RESOURE_APP_VERSION=v1

# App data
APP_RESULTS_PATH=data/app
# Album data
RESULTS_PATH=data/albums/results
ALBUMS_PATH=data/albums/albums.json
WALLPAPERS_PATH=data/albums/wallpapers.json
# Profile data
PROFILES_UPLOADS_PATH=data/profiles/uploads
PROFILES_RESULTS_PATH=data/profiles/results
PROFILES_DATA_PATH=data/profiles/profiles.json
PROFILES_WALLPAPERS_PATH=data/profiles/wallpapers.json

# ... data
FILE_PATH_BLACKLIST=data/blacklist-items.json
FILE_PATH_LIST_TRACKING_COLL=data/tracking-collections.json

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Google Sheet
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=
GOOGLE_API_KEY=

# Bunny
BUNNY_CDN_HOST=
BUNNY_CDN_ACCESS=
BUNNY_CDN_API_KEY=
BUNNY_CDN_USERNAME=
BUNNY_CDN_PASSWD=
BUNNY_ZONE_NAME=
BUNNY_ZONE_ID=

# General configs
MAX_ALBUMS_BATCH=5
CTG_FORYOU_ID=0
FILTER_BY_IMAGE_ASPECT_RATIO=ENABLE
